<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>List Users</h1>
    <p><%for (let i = 0; i < usersArr.length; i++) {%></p>
        <p><%= usersArr[i].fName %> <%= usersArr[i].lName %></p>
        <p><%= usersArr[i].email %></p>
    <p><%} %></p>
</body>
</html>